.container {
  --divider-spacing-default: 0;

  display: block;

  &[data-variant="default"] {
    --divider-color-default: var(--colors-border-default);
  }

  &[data-variant="inverted"] {
    --divider-color-default: var(--colors-border-inverted-weak);
  }

  &[data-padded="true"] {
    --divider-spacing-default: var(--space-6);
  }

  &hr {
    margin-block: var(--divider-spacing, var(--divider-spacing-default));
    border: none;
    border-block-end:
      var(--border-widths-1) solid
      var(--divider-color, var(--divider-color-default));
    inline-size: 100%;
  }

  &div {
    border-inline-end:
      var(--border-widths-1) solid
      var(--divider-color, var(--divider-color-default));
    width: 0;
    height: 100%;
    margin-inline: var(--divider-spacing, var(--divider-spacing-default));
  }
}
